body {
    display: grid;
    grid-template-columns: 90rem 6rem;
    grid-template-rows: 5rem 36rem;
    grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";
    }
.id1{
    grid-area: header;
    background: rgb(68, 124, 245);
      
}
.id2{
    grid-area: content;
    background: hsl(27, 100%, 50%);
}
.id3{
    grid-area: sidebar;
    background: black;
    color:white;
}
.id4{
    grid-area: footer;
    background:rgb(68, 124, 245);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}